
body {
  margin: 0;
  font-family: Arial;
  background-color: #111;
  color: white;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  background: #222;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.sidebar button {
  margin: 5px 0;
  padding: 10px;
  background: #005AE0;
  border: none;
  color: white;
  cursor: pointer;
}

.content {
  margin-left: 220px;
  padding: 2rem;
}

input {
  display: block;
  margin: 5px 0;
  padding: 8px;
  width: 300px;
}

button[type="submit"] {
  background: green;
  color: white;
  padding: 10px;
  border: none;
}

.hidden {
  display: none;
}
